<div id="header">
  <div id="headerMenu">
    <button mat-button *ngIf="isLoggedIn" routerLink="/profile">
      <span class="btn-full">Profile</span>
    </button>
    <button mat-button *ngIf="isLoggedIn" routerLink="/panel">
      <span class="btn-full">Panel</span>
    </button>
    <button mat-stroked-button *ngIf="isLoggedIn" (click)="logout()">
      <span class="btn-full">Logout</span>
    </button>
    <button mat-stroked-button *ngIf="!isLoggedIn" routerLink="/login">
      Login
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="!isLoggedIn"
      routerLink="/signup"
    >
      Sign Up
    </button>
  </div>
  <div id="headerTitle">
    <a routerLink="/" mat-button
      ><img src="../../assets/greenink-logo.png"
    /></a>
  </div>
</div>
