<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading && user" id="userInfo">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Account Info</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>Email: {{ user.email }}</mat-list-item>
                <mat-list-item>Last Login: {{ user.last_sign_in_at | date }}</mat-list-item>
                <mat-list-item>Subscription: {{ subType | titlecase }}</mat-list-item>
            </mat-list>
            <div *ngIf="!loading && subType!='free'" class="portalBtn">
                <button mat-raised-button color="primary" (click)="sendToCustomerPortal()">Subscription Settings</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="!loading && subType=='free'" class="pricing-table">
    <mat-card class="pricing-card">
        <mat-card-header>
            <mat-card-title>Basic</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="price">
            <h2>$1</h2>
            <small>/month</small>
            </div>
            <mat-list>
            <mat-list-item>Up to 5 QR Codes and Reroutes</mat-list-item>
            <mat-list-item>Analytics</mat-list-item>
            <mat-list-item>Color and shape selection</mat-list-item>
            <mat-list-item>Email and chat support</mat-list-item>
            </mat-list>
            <button mat-raised-button color="primary" (click)="sendToCheckout('basic')">Upgrade</button>
        </mat-card-content>
    </mat-card>

    <mat-card class="pricing-card">
        <mat-card-header>
            <mat-card-title>Unlimited</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="price">
            <h2>$10</h2>
            <small>/month</small>
            </div>
            <mat-list>
            <mat-list-item>Everything in the Basic Tier</mat-list-item>
            <mat-list-item>Unlimited QR Codes and Reroutes</mat-list-item>
            <mat-list-item>Custom image branded QR codes</mat-list-item>
            </mat-list>
            <button mat-raised-button color="primary" (click)="sendToCheckout('unlimited')">Upgrade</button>
        </mat-card-content>
    </mat-card>
</div>