<div class="mat-app-background">
  <div class="main-content">
    <div id="intro">
      <h2>Your QR Solution!</h2>
      <p>
        GreenInk is an unbeatable service for managing QR codes and URL shorteners that syncs perfectly with your ever-transforming business requirements. Change where your QR code leads your customers without changing the QR code itself and keep pace with your fast as lightning business operations.
      </p>
    </div>

    

    <div id="features">
      <h2>Powerful features of GreenInk</h2>
      <p>Discover the capabilities that make GreenInk a top choice for QR Code Management</p>
      <div id="featureCards">
        <div class="featureCard">
          <div class="featureIcon">
            <mat-icon>ballot</mat-icon>
          </div>
          <div class="featureInfo">
            <h3 class="featureTitle">
              Dynamic QR Code Management
            </h3>
            <p clss="featureText">
              Easily change the destination URL of your QR codes without reprinting them
            </p>
          </div>
        </div>
        <div class="featureCard">
          <div class="featureIcon">
            <mat-icon>edit</mat-icon>
          </div>
          <div class="featureInfo">
            <h3 class="featureTitle">
              Customizable QR Codes
            </h3>
            <p clss="featureText">
              Personalize your QR codes with colors and logos to match your brand
            </p>
          </div>
        </div>
        <div class="featureCard">
          <div class="featureIcon">
            <mat-icon>link</mat-icon>
          </div>
          <div class="featureInfo">
            <h3 class="featureTitle">
              URL Shortening
            </h3>
            <p clss="featureText">
              Shorten long URLs to make them more user-friendly and easy to share
            </p>
          </div>
        </div>
        <div class="featureCard">
          <div class="featureIcon">
            <mat-icon>data_usage</mat-icon>
          </div>
          <div class="featureInfo">
            <h3 class="featureTitle">
              Detailed Analytics
            </h3>
            <p clss="featureText">
              Track and analyze the performance of your QR codes with detailed statistics
            </p>
          </div>
        </div>
      </div>
      <button id="cta" mat-raised-button color="primary" routerLink="/signup">Get Started</button>
    </div>
  <app-pricing></app-pricing>
  <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-around;">
    <a href="https://www.termsfeed.com/live/28c2315c-2267-4912-93b5-67af39224599">Privacy Policy</a>
    <a href="/tnc">Terms and Conditions</a>
  </div>
  
</div>
